button {
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #fff;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: #00471b
}

.boton-reiniciar {
    background-color: #5a01a7;
}

.boton-clic {
    background-color: #002ead;    
}
